<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content style="text-align:center">

      <img src="assets/foto.png" style="width:120px; border-radius:50%; margin-bottom:10px;">

      <h2>Juan Victor Santos Vieira</h2>
      <p>Turma: ADS0301M</p>
      <p>Unidade: BS | Turno: Manhã</p>
      <p>Palavra-chave: WAKE WAKE</p>

      <ion-button expand="full" (click)="irParaColor()">
        Ir para Tela 2
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>